.lecture-day-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.lecture-choose-type-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.lecture-choose-type-container button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--omk-gray);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: medium;
  height: 40px;
  text-transform: uppercase;
}

.active-stosowana {
  background-color: var(--omk-orange) !important;
}

.active-teoretyczna {
  background-color: var(--omk-blue) !important;
}
