.lectures-change-day-container {
  margin: 5px 0;
  
}

.lectures-thumbs__slide {
background-color: var(--omk-gray);
border-radius: 5px;
font-size: large;
text-transform: capitalize;
height: 40px!important;
justify-content: center;
transition: background-color 0.3s ease;
}

.active-day {
  background-color: var(--omk-green);
  color: white;
}


.lectures-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.day-slider {
  width: 100%;
  height: 100%;
}

.swiper {
  height: 100%;
}

.swiper-slide {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes changeDay {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
