* {
    font-family: 'Quicksand Regular';
}

body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

.img-box img{
    object-fit: contain;
    width: 100%;
}

.App {
    height: 100%;
}

