.card {
  background-color: var(--omk-gray);
  border-radius: 5px;
  margin-bottom: 8px;
  overflow: hidden;
  transition: all 0.3s;
  border-left: 10px solid transparent;
}

.card > div {
  padding: 0 16px;
  padding-left: 6px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

.card h3,
.card p {
  margin: 10px 0;
  font-weight: 400;
}

.card h3 {
  font-style: italic;
  margin-right: 10px;
}

.card p {
  margin: 10px 0;
  min-width: 50px;
  text-align: left;
}

.card-full-info {
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  max-height: 0;
}

.card-speaker {
  font-weight: 600 !important;
}

.card-full-info.open {
  opacity: 1;
  max-height: 2000px;
}

.card-description {
  margin-bottom: 12px;
}

.card-description p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 500;
}

.voted {
  border-color: var(--omk-green);
}

.description-wrapper {
  position: relative; /* Needed for the ::after pseudo-element */
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.description-wrapper.truncated {
  max-height: 100px; /* The height when collapsed */
}

/* This is the fade-out overlay */
.description-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* Height of the fade effect */
  background: linear-gradient(to top, var(--omk-gray), transparent);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Allows clicking through the overlay */
}

/* When truncated, make the fade visible */
.description-wrapper.truncated::after {
  opacity: 1;
}

.read-more-btn {
  background: none;
  border: none;
  color: var(--omk-blue);
  cursor: pointer;
  padding: 4px 0;
  margin-top: 8px;
  font-size: 0.9em;
  text-decoration: underline;
  display: block; /* Or inline-block */
}

.read-more-btn:hover {
  color: var(--omk-orange);
}
